.navbar {
  .navbar-toggler {
    border: none;
    &:focus {
      outline: none;
    }
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-icon {
    display: flex;
    align-items: center;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .dropdown-item {
    cursor: pointer;
  }

  .disabled {
    cursor: not-allowed;
  }

  .dropdown-menu {
    min-width: 200px;
  }
}

.btn-primary {
  background-color: #696cff!important;
  color: #fff;

  &:hover {
    background-color: #6668db!important;
  }
}
