<div class="layout">
  <app-header
    class="layout-header"
    [isCollapsed]="isSidebarCollapsed"
    (toggle)="onToggleSidebar($event)"
    [class.sidebar-collapsed]="isSidebarCollapsed"
  ></app-header>
  <div class="layout-body">
    <app-sidebar
      [isCollapsed]="isSidebarCollapsed"
      (toggle)="onToggleSidebar($event)"
    ></app-sidebar>
    <div class="layout-content" [class.sidebar-collapsed]="isSidebarCollapsed">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="layout-footer" [class.sidebar-collapsed]="isSidebarCollapsed">
    <app-footer></app-footer>
  </div>
</div>
