*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #F5F5F9;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.btn-custom-primary {
  background-color: #696cff!important;
  color: #fff;
}

.btn-custom-secondary {
  background-color: #ff6c69!important;
  color: #fff;
}
