<div class="container mt-4">
  <h2>Cadastro de Bancos</h2>

  <div class="d-flex justify-content-between mb-3 mt-5">
    <div class="d-flex w-75">
      <input
        type="text"
        class="form-control me-2 w-50"
        placeholder="Buscar por descrição..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="applyFilters()"
      />
      <select
        class="form-select ms-2 w-25"
        [(ngModel)]="statusFilter"
        (change)="onStatusChange(statusFilter)"
      >
        <option value="">Todos os Status</option>
        <option value="A">Ativo</option>
        <option value="I">Inativo</option>
      </select>
    </div>
    <div>
      <button [disabled]="!canAdd" class="btn btn-primary px-5 me-2" (click)="navigateToRegister()">
        Novo
      </button>
      <button
        class="btn btn-danger px-5"
        [disabled]="selectedBanks.length === 0 || !canDelete"
        (click)="confirmDeletion()"
      >
        Excluir
      </button>
    </div>
  </div>

  <div *ngIf="isLoading"><app-loading></app-loading></div>

  <table class="table table-hover" *ngIf="!isLoading && banks.length > 0">
    <thead class="table-light">
      <tr>
        <th style="width: 5%;"><input type="checkbox" (change)="selectAll($event)" /></th>
        <th style="width: 10%;" (click)="sortData('id')">ID <span [ngClass]="getSortIcon('id')"></span></th>
        <th style="width: 15%;" (click)="sortData('codigo')">Código <span [ngClass]="getSortIcon('codigo')"></span></th>
        <th style="width: 50%;" (click)="sortData('descricao')">Descrição <span [ngClass]="getSortIcon('descricao')"></span></th>
        <th style="width: 20%;" (click)="sortData('status')">Status <span [ngClass]="getSortIcon('status')"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bank of banks">
        <td>
          <input
            type="checkbox"
            [checked]="isSelected(bank)"
            (change)="toggleSelection(bank)"
          />
        </td>
        <td [routerLink]="['/bank/details', bank.id]">{{ bank.id }}</td>
        <td [routerLink]="['/bank/details', bank.id]">{{ bank.codigo }}</td>
        <td [routerLink]="['/bank/details', bank.id]">{{ bank.descricao }}</td>
        <td [routerLink]="['/bank/details', bank.id]">
          <span
            class="badge"
            [ngClass]="{
              'text-bg-green': bank.status.id === 'A',
              'text-bg-yellow': bank.status.id !== 'A'
            }"
            >{{ bank.status.descricao }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoading && banks.length === 0" class="no-results">
    Nenhum resultado encontrado.
  </div>

  <div class="d-flex justify-content-between align-items-center mt-5 mb-5">
    <div
      *ngIf="!isLoading && banks.length > 0"
      class="d-flex justify-content-between align-items-center mt-3"
    >
      <span class="text-muted">Itens por página: <strong>{{ itemsPerPage }}</strong> -
      </span>
      <span class="text-muted">
        Total de registros: <strong>{{ totalItems | number }}</strong></span>
    </div>
    <app-pagination
      *ngIf="!isLoading && banks.length > 0"
      [currentPage]="currentPage"
      [totalItems]="totalItems"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>

  <app-modal
    [showModal]="showModal"
    [selectedCount]="selectedBanks.length"
    (close)="closeModal()"
    (confirm)="deleteSelected()"
    modalTitle="Confirmar Exclusão"
  ></app-modal>

</div>
